@mixin objectFit ($type) {
  img {
    width: 100%;
    height: 100%;
    object-fit: $type;
  }
}

@mixin characterIcon($width, $height, $isTop, $isLeft, $top: 0, $left: 0, $bottom: 0, $right: 0 ) {
  @if($isTop) {
    top: $top;
  }
  @else {
    bottom: $bottom;
  }

  @if($isLeft) {
    left: $left;
  }
  @else {
    right: $right;
  }

  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: $width;
  height: $height;
  padding: 4px;
  border-radius: 50%;
  background-color: $col_white;
  overflow: hidden;
  z-index: 10;

  @include objectFit(contain);
}